.site-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    z-index: 10;
    
}

.site-nav a{
    position: relative;
    z-index: 9;
    cursor: pointer;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
}

.site-nav .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-nav .site-navigation .site-menu > li {
    display: inline-block;
}

.site-nav .site-navigation .site-menu > li > a {
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.site-nav a {
    position: relative;
    z-index: 9;
    cursor: pointer;
}

.site-nav a:hover {
    color: var(--primary-color) !important;
}